/* BASE */
/* variables, fonts, mixins, helpers... common styles used across the entire site */
/*Typography*/
/*Colors*/
/* Heading sizes */
/*General*/
/* line 2, ../sass/base/_global.scss */
body {
  font-family: "Poppins", Arial, Geneva, sans-serif;
  font-size: 16px;
  color: #707070;
  margin-top: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* line 15, ../sass/base/_global.scss */
.container-fluid .region {
  max-width: 1480px;
  overflow: auto;
  display: block;
  margin: 0 auto;
}

/* line 25, ../sass/base/_global.scss */
.view-skuhan-portfolio-stripe .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 34, ../sass/base/_global.scss */
.preloader {
  background: #fff;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  text-align: center;
}
/* line 43, ../sass/base/_global.scss */
.preloader .preloader-bounce {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 53, ../sass/base/_global.scss */
.preloader .preloader-bounce .pl-child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #e52225;
  opacity: .9;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: pl-doubleBounce 2s infinite ease-in-out;
  animation: pl-doubleBounce 2s infinite ease-in-out;
}
/* line 64, ../sass/base/_global.scss */
.preloader .preloader-bounce .pl-child.pl-double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

/* line 74, ../sass/base/_global.scss */
.page-node-type-skuhan-one-page .skuhan-one-page-page {
  padding: 0;
}
/* line 79, ../sass/base/_global.scss */
.page-node-type-skuhan-one-page .container-fluid .region {
  max-width: 100%;
}

/* line 86, ../sass/base/_global.scss */
.container-big {
  max-width: 1210px;
}

/*Bootstrap no gutters*/
/* line 91, ../sass/base/_global.scss */
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
/* line 94, ../sass/base/_global.scss */
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

/*Header*/
/* line 102, ../sass/base/_global.scss */
header.navbar-default {
  border: 0px;
  background-color: transparent;
  border-radius: 0;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  z-index: 99;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
  max-width: 100%;
  margin-bottom: 0;
}

/*Back to top*/
/* line 121, ../sass/base/_global.scss */
.back-top {
  background: #0f0f0f;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  right: 25px;
  bottom: 80px;
  font-size: 30px;
  display: none;
  z-index: 10;
  border: 2px solid #fff;
  display: none;
}
/* line 134, ../sass/base/_global.scss */
.back-top:hover {
  background: #e52225;
}
/* line 137, ../sass/base/_global.scss */
.back-top i {
  position: absolute;
  left: 14px;
  top: 5px;
  color: #fff;
}

/*Footer*/
/* line 146, ../sass/base/_global.scss */
footer.footer {
  padding: 30px 0;
  margin-top: 0;
  border-top: 0;
}
/* line 150, ../sass/base/_global.scss */
footer.footer .field--name-body {
  overflow: auto;
  max-width: 1480px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
/* line 157, ../sass/base/_global.scss */
footer.footer .field--name-body .skuhan-logo a {
  font-family: "Staatliches", Arial, Geneva, sans-serif;
  color: #0f0f0f;
  font-size: 2em;
  text-decoration: none;
}
/* line 162, ../sass/base/_global.scss */
footer.footer .field--name-body .skuhan-logo a .first-letter {
  color: #e52225;
}
/* line 168, ../sass/base/_global.scss */
footer.footer .field--name-body .text-center p {
  margin-bottom: 0;
  position: relative;
  top: 12px;
}
/* line 174, ../sass/base/_global.scss */
footer.footer .field--name-body .social-links {
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}
/* line 178, ../sass/base/_global.scss */
footer.footer .field--name-body .social-links li {
  margin: 0 5px;
}
/* line 180, ../sass/base/_global.scss */
footer.footer .field--name-body .social-links li a {
  color: #1c1c1c;
  border: 2px solid;
  font-size: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  float: left;
  padding-left: 1px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/* line 193, ../sass/base/_global.scss */
footer.footer .field--name-body .social-links li a i {
  position: relative;
  top: -3px;
  left: 3px;
}
/* line 198, ../sass/base/_global.scss */
footer.footer .field--name-body .social-links li a:hover {
  background: #1c1c1c;
  color: #fff;
  border-color: #1c1c1c;
}

/*Margin classes*/
/* line 210, ../sass/base/_global.scss */
.mt-70 {
  margin-top: 70px;
}

/* line 213, ../sass/base/_global.scss */
.mt-130 {
  margin-top: 130px;
}

/* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
/* line 2, ../sass/base/_animations.scss */
body {
  -webkit-backface-visibility: hidden;
}

/* line 6, ../sass/base/_animations.scss */
.animate {
  opacity: 0;
}

/* line 10, ../sass/base/_animations.scss */
.animated {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 21, ../sass/base/_animations.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(35px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(35px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(35px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(35px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* line 77, ../sass/base/_animations.scss */
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* line 132, ../sass/base/_animations.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* line 186, ../sass/base/_animations.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes blinkme {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blinkme {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@-webkit-keyframes pl-doubleBounce {
  0%, 
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pl-doubleBounce {
  0%, 
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* line 1, ../sass/base/_btns.scss */
.btn-skuhan-primary {
  border-radius: 5px;
  background: #e52225;
  line-height: 50px;
  text-align: center;
  padding: 0 25px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.02em;
  position: relative;
  z-index: 1;
  font-size: 16px;
  color: #fff;
  border: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 18, ../sass/base/_btns.scss */
.btn-skuhan-primary:hover {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 23, ../sass/base/_btns.scss */
.btn-skuhan-primary:hover:after {
  left: 0;
  width: 100%;
}
/* line 28, ../sass/base/_btns.scss */
.btn-skuhan-primary:focus {
  outline: none;
  box-shadow: none;
  color: #fff;
}
/* line 33, ../sass/base/_btns.scss */
.btn-skuhan-primary:after {
  content: '';
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  top: 0;
  height: 101%;
  background: rgba(0, 0, 0, 0.2);
}

/* Extra small devices (phones, 460px and down) */
@media only screen and (max-width: 767px) {
  /*Back to top*/
  /* line 4, ../sass/base/_mobile.scss */
  .back-top {
    display: none !important;
  }

  /*Mobile Header logo and nav*/
  /* line 11, ../sass/base/_mobile.scss */
  header#navbar .skuhan-header-container .navbar-header section.skuhan-logo {
    position: relative;
    top: 4px;
  }
  /* line 15, ../sass/base/_mobile.scss */
  header#navbar .skuhan-header-container .navbar-header button.navbar-toggle {
    margin-top: 0;
    margin-bottom: 0;
    border: 0px;
  }
  /* line 19, ../sass/base/_mobile.scss */
  header#navbar .skuhan-header-container .navbar-header button.navbar-toggle:hover, header#navbar .skuhan-header-container .navbar-header button.navbar-toggle:focus {
    background-color: transparent;
  }
  /* line 23, ../sass/base/_mobile.scss */
  header#navbar .skuhan-header-container .navbar-header button.navbar-toggle i {
    font-size: 2em;
    color: #0f0f0f;
  }
  /* line 29, ../sass/base/_mobile.scss */
  header#navbar .skuhan-header-container #navbar-collapse {
    float: none;
  }
  /* line 32, ../sass/base/_mobile.scss */
  header#navbar .skuhan-header-container #navbar-collapse .skuhan-main-menu ul.menu--skuhan-main-menu {
    text-align: left;
    padding: 20px 0;
  }
  /* line 35, ../sass/base/_mobile.scss */
  header#navbar .skuhan-header-container #navbar-collapse .skuhan-main-menu ul.menu--skuhan-main-menu li {
    display: block;
  }
  /* line 37, ../sass/base/_mobile.scss */
  header#navbar .skuhan-header-container #navbar-collapse .skuhan-main-menu ul.menu--skuhan-main-menu li a {
    display: block;
  }

  /*Stripes*/
  /* line 52, ../sass/base/_mobile.scss */
  .skuhan-wrapper #slideshow .paragraph-content .paragraph-content-inner h1 {
    font-size: 30px;
  }
  /* line 55, ../sass/base/_mobile.scss */
  .skuhan-wrapper #slideshow .paragraph-content .paragraph-content-inner .slideshow-type {
    display: none;
  }
  /* line 57, ../sass/base/_mobile.scss */
  .skuhan-wrapper #slideshow .paragraph-content .paragraph-content-inner .slideshow-type h3 {
    font-size: 24px;
  }
  /* line 62, ../sass/base/_mobile.scss */
  .skuhan-wrapper #slideshow .paragraph-content .paragraph-content-inner .slideshow-desc .field--name-field-s-p-slide-desc {
    font-size: 14px;
  }
  /* line 71, ../sass/base/_mobile.scss */
  .skuhan-wrapper #about .paragraph-content {
    padding: 40px 20px;
  }
  /* line 75, ../sass/base/_mobile.scss */
  .skuhan-wrapper #about .paragraph-content .paragraph-content-inner .section-title h2.big-title {
    font-size: 30px;
  }
  /* line 78, ../sass/base/_mobile.scss */
  .skuhan-wrapper #about .paragraph-content .paragraph-content-inner .section-title .subtitle {
    font-size: 1em;
  }
  /* line 82, ../sass/base/_mobile.scss */
  .skuhan-wrapper #about .paragraph-content .paragraph-content-inner .about-desc {
    font-size: 14px;
  }
  /* line 89, ../sass/base/_mobile.scss */
  .skuhan-wrapper #portfolio {
    position: relative;
  }
  /* line 91, ../sass/base/_mobile.scss */
  .skuhan-wrapper #portfolio .portfolio-title {
    font-size: 30px;
  }
  /* line 98, ../sass/base/_mobile.scss */
  .skuhan-wrapper #services .paragraph-content .field--name-field-skuhan-p-sc-title {
    font-size: 30px;
  }
  /* line 104, ../sass/base/_mobile.scss */
  .skuhan-wrapper #services .paragraph-content .field--name-field-skuhan-p-sc-services .services-inner .service-box h3 {
    font-size: 20px;
  }
  /* line 107, ../sass/base/_mobile.scss */
  .skuhan-wrapper #services .paragraph-content .field--name-field-skuhan-p-sc-services .services-inner .service-box .service-desc {
    font-size: 14px;
  }
  /* line 117, ../sass/base/_mobile.scss */
  .skuhan-wrapper #numbers .paragraph-content {
    padding: 40px 0;
  }
  /* line 120, ../sass/base/_mobile.scss */
  .skuhan-wrapper #numbers .paragraph-content .paragraph .count-number {
    font-size: 42px;
    margin: 0;
  }
  /* line 130, ../sass/base/_mobile.scss */
  .skuhan-wrapper #experience .paragraph-content .field--name-field-skuhan-p-ec-title {
    margin-bottom: 40px;
    font-size: 30px;
  }
  /* line 134, ../sass/base/_mobile.scss */
  .skuhan-wrapper #experience .paragraph-content .timeline-section {
    margin-top: -10px;
  }
  /* line 136, ../sass/base/_mobile.scss */
  .skuhan-wrapper #experience .paragraph-content .timeline-section:before {
    content: none;
  }
  /* line 139, ../sass/base/_mobile.scss */
  .skuhan-wrapper #experience .paragraph-content .timeline-section:after {
    content: none;
  }
  /* line 142, ../sass/base/_mobile.scss */
  .skuhan-wrapper #experience .paragraph-content .timeline-section .timeline-row {
    margin-top: 30px;
    padding-top: 37px;
  }
  /* line 145, ../sass/base/_mobile.scss */
  .skuhan-wrapper #experience .paragraph-content .timeline-section .timeline-row:before {
    content: none;
  }
  /* line 149, ../sass/base/_mobile.scss */
  .skuhan-wrapper #experience .paragraph-content .timeline-section .timeline-row:nth-child(2n) .timeline-col {
    float: none;
  }
  /* line 151, ../sass/base/_mobile.scss */
  .skuhan-wrapper #experience .paragraph-content .timeline-section .timeline-row:nth-child(2n) .timeline-col .field--name-field-s-p-experience-date {
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: -37px 0 0;
    z-index: 1;
  }
  /* line 161, ../sass/base/_mobile.scss */
  .skuhan-wrapper #experience .paragraph-content .timeline-section .timeline-row .timeline-col {
    float: none;
    width: 100%;
    padding: 0 15px;
  }
  /* line 165, ../sass/base/_mobile.scss */
  .skuhan-wrapper #experience .paragraph-content .timeline-section .timeline-row .timeline-col .field--name-field-s-p-experience-date {
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: -37px 0 0;
    z-index: 1;
  }
  /* line 178, ../sass/base/_mobile.scss */
  .skuhan-wrapper #experience .paragraph-content .timeline-section .timeline-row .timeline-col .timeline-box {
    padding: 55px 20px 25px;
  }
  /* line 180, ../sass/base/_mobile.scss */
  .skuhan-wrapper #experience .paragraph-content .timeline-section .timeline-row .timeline-col .timeline-box .field--name-field-s-p-experience-title {
    font-size: 20px;
    text-align: center;
  }
  /* line 184, ../sass/base/_mobile.scss */
  .skuhan-wrapper #experience .paragraph-content .timeline-section .timeline-row .timeline-col .timeline-box .field--name-field-s-p-experience-company {
    font-size: 15px;
    text-align: center;
  }
  /* line 188, ../sass/base/_mobile.scss */
  .skuhan-wrapper #experience .paragraph-content .timeline-section .timeline-row .timeline-col .timeline-box .field--name-field-s-p-experience-desc {
    font-size: 14px;
    text-align: center;
  }
  /* line 201, ../sass/base/_mobile.scss */
  .skuhan-wrapper .paragraph.paragraph--type--skuhan-p-bckg-img .paragraph-content .field--name-field-s-p-bckg-img-title {
    font-size: 34px;
  }
  /* line 208, ../sass/base/_mobile.scss */
  .skuhan-wrapper #blogs .paragraph-content {
    padding: 40px 15px;
  }
  /* line 210, ../sass/base/_mobile.scss */
  .skuhan-wrapper #blogs .paragraph-content .view-header {
    font-size: 30px;
    margin-bottom: 40px;
  }
  /* line 215, ../sass/base/_mobile.scss */
  .skuhan-wrapper #blogs .paragraph-content .view-content .blog-col {
    margin-bottom: 30px;
  }
  /* line 219, ../sass/base/_mobile.scss */
  .skuhan-wrapper #blogs .paragraph-content .view-content .blog-col .blog-details .views-field-title a {
    font-size: 19px;
  }
  /* line 223, ../sass/base/_mobile.scss */
  .skuhan-wrapper #blogs .paragraph-content .view-content .blog-col .blog-details .views-field-body {
    font-size: 14px;
  }
  /* line 227, ../sass/base/_mobile.scss */
  .skuhan-wrapper #blogs .paragraph-content .view-content .blog-col .blog-details .views-field-field-s-b-tags a {
    font-size: 12px;
  }
  /* line 238, ../sass/base/_mobile.scss */
  .skuhan-wrapper #contact h2.block-title {
    margin-bottom: 40px;
    font-size: 30px;
  }
  /* line 245, ../sass/base/_mobile.scss */
  .skuhan-wrapper #contact .field--name-field-s-blocks-ref-webform form .form-item input.form-text,
  .skuhan-wrapper #contact .field--name-field-s-blocks-ref-webform form .form-item input.form-email {
    font-size: 14px;
  }
  /* line 249, ../sass/base/_mobile.scss */
  .skuhan-wrapper #contact .field--name-field-s-blocks-ref-webform form .form-item textarea.form-textarea {
    font-size: 14px;
  }
  /* line 253, ../sass/base/_mobile.scss */
  .skuhan-wrapper #contact .field--name-field-s-blocks-ref-webform form #edit-actions {
    text-align: center;
  }
  /* line 255, ../sass/base/_mobile.scss */
  .skuhan-wrapper #contact .field--name-field-s-blocks-ref-webform form #edit-actions button {
    font-size: 15px;
    line-height: 44px;
  }
  /* line 266, ../sass/base/_mobile.scss */
  .skuhan-wrapper footer.footer .field--name-body .skuhan-logo {
    text-align: center;
  }
  /* line 268, ../sass/base/_mobile.scss */
  .skuhan-wrapper footer.footer .field--name-body .skuhan-logo a {
    display: block;
  }
  /* line 270, ../sass/base/_mobile.scss */
  .skuhan-wrapper footer.footer .field--name-body .skuhan-logo a .first-letter {
    color: #e52225;
  }
  /* line 275, ../sass/base/_mobile.scss */
  .skuhan-wrapper footer.footer .field--name-body .text-center {
    text-align: center;
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
  }
  /* line 281, ../sass/base/_mobile.scss */
  .skuhan-wrapper footer.footer .field--name-body .social-links {
    justify-content: center;
    display: flex;
  }

  /* Node Portfolio*/
  /* line 290, ../sass/base/_mobile.scss */
  .skuhan-wrapper article.skuhan-portfolio {
    padding: 35px 0;
  }
  /* line 293, ../sass/base/_mobile.scss */
  .skuhan-wrapper article.skuhan-portfolio .field-node-title h3 {
    font-size: 24px;
  }
  /* line 298, ../sass/base/_mobile.scss */
  .skuhan-wrapper article.skuhan-portfolio .content.node-content-inner .field--name-body {
    font-size: 14px;
  }

  /*Node Blogs*/
  /* line 308, ../sass/base/_mobile.scss */
  .skuhan-wrapper article.skuhan-blogs .node-container .blog-title {
    font-size: 18px;
  }
  /* line 311, ../sass/base/_mobile.scss */
  .skuhan-wrapper article.skuhan-blogs .node-container .content {
    font-size: 14px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  /*Header*/
  /* line 324, ../sass/base/_mobile.scss */
  .skuhan-wrapper header#navbar #navbar-collapse {
    margin-top: 10px;
  }
  /* line 329, ../sass/base/_mobile.scss */
  .skuhan-wrapper header#navbar #navbar-collapse .skuhan-main-menu ul.menu--skuhan-main-menu li a {
    padding: 3px;
    font-size: 15px;
  }

  /*Stripes*/
  /* line 343, ../sass/base/_mobile.scss */
  .skuhan-wrapper #about .paragraph-content {
    padding: 40px 20px;
  }
  /* line 347, ../sass/base/_mobile.scss */
  .skuhan-wrapper #about .paragraph-content .paragraph-content-inner .section-title h2.big-title {
    font-size: 40px;
  }
  /* line 350, ../sass/base/_mobile.scss */
  .skuhan-wrapper #about .paragraph-content .paragraph-content-inner .section-title .subtitle {
    font-size: 1.3em;
  }
  /* line 354, ../sass/base/_mobile.scss */
  .skuhan-wrapper #about .paragraph-content .paragraph-content-inner .about-desc {
    font-size: 16px;
  }
  /* line 361, ../sass/base/_mobile.scss */
  .skuhan-wrapper #portfolio {
    position: relative;
  }
  /* line 363, ../sass/base/_mobile.scss */
  .skuhan-wrapper #portfolio .portfolio-title {
    font-size: 30px;
  }
  /* line 373, ../sass/base/_mobile.scss */
  .skuhan-wrapper #services .paragraph-content .field--name-field-skuhan-p-sc-services .services-inner .service-box h3 {
    font-size: 22px;
  }
  /* line 376, ../sass/base/_mobile.scss */
  .skuhan-wrapper #services .paragraph-content .field--name-field-skuhan-p-sc-services .services-inner .service-box .service-desc {
    font-size: 16px;
  }
  /* line 388, ../sass/base/_mobile.scss */
  .skuhan-wrapper #numbers .paragraph-content .paragraph .count-number {
    font-size: 42px;
    margin: 0;
  }
  /* line 397, ../sass/base/_mobile.scss */
  .skuhan-wrapper #blogs .paragraph-content {
    padding: 60px 15px;
  }
  /* line 402, ../sass/base/_mobile.scss */
  .skuhan-wrapper #blogs .paragraph-content .view-content .blog-col {
    margin-bottom: 30px;
  }
  /* line 415, ../sass/base/_mobile.scss */
  .skuhan-wrapper #contact .field--name-field-s-blocks-ref-webform form #edit-actions button {
    font-size: 16px;
  }
  /* line 425, ../sass/base/_mobile.scss */
  .skuhan-wrapper footer.footer .field--name-body .skuhan-logo {
    text-align: center;
  }
  /* line 427, ../sass/base/_mobile.scss */
  .skuhan-wrapper footer.footer .field--name-body .skuhan-logo a {
    display: block;
  }
  /* line 429, ../sass/base/_mobile.scss */
  .skuhan-wrapper footer.footer .field--name-body .skuhan-logo a .first-letter {
    color: #e52225;
  }
  /* line 434, ../sass/base/_mobile.scss */
  .skuhan-wrapper footer.footer .field--name-body .text-center {
    text-align: center;
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
  }
  /* line 440, ../sass/base/_mobile.scss */
  .skuhan-wrapper footer.footer .field--name-body .social-links {
    justify-content: center;
    display: flex;
  }

  /* Node Portfolio*/
  /* line 449, ../sass/base/_mobile.scss */
  .skuhan-wrapper article.skuhan-portfolio {
    padding: 65px 0;
  }
}
/* COMPONENTS */
/* Main components such as menu, headers etc. */
/*Navbar*/
/* line 3, ../sass/components/_header.scss */
body.toolbar-horizontal.toolbar-fixed header.navbar {
  top: 80px;
}

/* line 7, ../sass/components/_header.scss */
header.navbar {
  min-height: inherit;
  padding: 15px 0;
  position: fixed;
}
/* line 11, ../sass/components/_header.scss */
header.navbar .skuhan-header-container {
  max-width: 1920px;
  margin: 0 auto;
}
/* line 15, ../sass/components/_header.scss */
header.navbar .skuhan-header-container .navbar-header .region.region-navigation {
  display: inline-block;
}
/* line 20, ../sass/components/_header.scss */
header.navbar .skuhan-header-container .navbar-header .region.region-navigation .skuhan-logo .skuhan-logo-inner-block a {
  font-family: "Staatliches", Arial, Geneva, sans-serif;
  color: #0f0f0f;
  font-size: 2em;
  text-decoration: none;
}
/* line 25, ../sass/components/_header.scss */
header.navbar .skuhan-header-container .navbar-header .region.region-navigation .skuhan-logo .skuhan-logo-inner-block a .first-letter {
  color: #e52225;
}

/* line 3, ../sass/components/_nav.scss */
header#navbar #navbar-collapse {
  width: inherit;
  float: right;
}
/* line 7, ../sass/components/_nav.scss */
header#navbar #navbar-collapse .skuhan-main-menu ul.menu--skuhan-main-menu {
  text-align: right;
}
/* line 9, ../sass/components/_nav.scss */
header#navbar #navbar-collapse .skuhan-main-menu ul.menu--skuhan-main-menu li {
  display: inline-block;
}
/* line 11, ../sass/components/_nav.scss */
header#navbar #navbar-collapse .skuhan-main-menu ul.menu--skuhan-main-menu li a {
  display: inline-block;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-weight: 300;
  color: #0f0f0f;
}
/* line 18, ../sass/components/_nav.scss */
header#navbar #navbar-collapse .skuhan-main-menu ul.menu--skuhan-main-menu li a span:after {
  content: '';
  background: #222;
  right: 0;
  position: absolute;
  height: 2px;
  margin: 5px auto 0;
  width: 0;
  bottom: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 31, ../sass/components/_nav.scss */
header#navbar #navbar-collapse .skuhan-main-menu ul.menu--skuhan-main-menu li a:hover {
  text-decoration: none;
  background: none;
}
/* line 34, ../sass/components/_nav.scss */
header#navbar #navbar-collapse .skuhan-main-menu ul.menu--skuhan-main-menu li a:hover span:after {
  width: 100%;
  left: 0;
  right: auto;
}

/*Slideshow stripe*/
/* line 2, ../sass/components/_stripes.scss */
#slideshow {
  padding: 60px 0;
  position: relative;
  height: calc(100vh);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
}
/* line 15, ../sass/components/_stripes.scss */
#slideshow .paragraph-content {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 20, ../sass/components/_stripes.scss */
#slideshow .paragraph-content .paragraph-content-inner {
  padding: 50px;
}
/* line 23, ../sass/components/_stripes.scss */
#slideshow .paragraph-content .paragraph-content-inner .slideshow-type {
  color: #0f0f0f;
  font-weight: 700;
  margin: 30px 0;
}
/* line 27, ../sass/components/_stripes.scss */
#slideshow .paragraph-content .paragraph-content-inner .slideshow-type h3 {
  margin: 0;
}
/* line 29, ../sass/components/_stripes.scss */
#slideshow .paragraph-content .paragraph-content-inner .slideshow-type h3 .typed-cursor {
  -webkit-animation: blinkme 0.6s ease infinite;
  animation: blinkme 0.6s ease infinite;
}
/* line 33, ../sass/components/_stripes.scss */
#slideshow .paragraph-content .paragraph-content-inner .slideshow-type h3::after {
  content: none;
}
/* line 39, ../sass/components/_stripes.scss */
#slideshow .paragraph-content .paragraph-content-inner .scroll-down {
  position: absolute;
  width: 160px;
  height: 80px;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 47, ../sass/components/_stripes.scss */
#slideshow .paragraph-content .paragraph-content-inner .scroll-down .mouse-icon {
  border: 2px solid #0f0f0f;
  height: 46px;
  width: 30px;
  border-radius: 25px;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 10px;
}
/* line 58, ../sass/components/_stripes.scss */
#slideshow .paragraph-content .paragraph-content-inner .scroll-down .mouse-icon .wheel {
  display: block;
  -webkit-animation: drop 1s linear infinite;
  animation: drop 1s linear infinite;
  position: relative;
  border-radius: 10px;
  width: 2px;
  height: 6px;
  background: #0f0f0f;
  top: 4px;
  margin: 0 auto;
}
/* line 74, ../sass/components/_stripes.scss */
#slideshow #skuhan-particles {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* line 85, ../sass/components/_stripes.scss */
#about {
  background-image: url("../images/bg-about.png");
  background-size: cover;
  background-color: #343a40;
  position: relative;
  z-index: 1;
}
/* line 91, ../sass/components/_stripes.scss */
#about .paragraph-content {
  padding: 80px 20px;
}
/* line 93, ../sass/components/_stripes.scss */
#about .paragraph-content .paragraph-content-inner {
  margin: 0 auto;
}
/* line 95, ../sass/components/_stripes.scss */
#about .paragraph-content .paragraph-content-inner .section-title {
  text-align: center;
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-bottom: 60px;
  color: #fff;
}
/* line 102, ../sass/components/_stripes.scss */
#about .paragraph-content .paragraph-content-inner .section-title .subtitle {
  font-size: 24px;
}
/* line 105, ../sass/components/_stripes.scss */
#about .paragraph-content .paragraph-content-inner .section-title:before {
  content: '';
  width: 158px;
  margin: 0 auto;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  background: #d0d0d0;
}
/* line 116, ../sass/components/_stripes.scss */
#about .paragraph-content .paragraph-content-inner .section-title:after {
  content: '';
  width: 50px;
  margin: 0 auto;
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e52225;
}
/* line 128, ../sass/components/_stripes.scss */
#about .paragraph-content .paragraph-content-inner .about-desc {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
/* line 134, ../sass/components/_stripes.scss */
#about .paragraph-content .paragraph-content-inner .about-skills {
  margin-top: 30px;
}
/* line 136, ../sass/components/_stripes.scss */
#about .paragraph-content .paragraph-content-inner .about-skills .skill-bar {
  height: 5px;
  position: relative;
  background: #cfcfcf;
  margin: 60px 0 15px;
}
/* line 141, ../sass/components/_stripes.scss */
#about .paragraph-content .paragraph-content-inner .about-skills .skill-bar .skill-label {
  display: block;
  position: relative;
  top: -40px;
  font-weight: 500;
  color: #fff;
}
/* line 148, ../sass/components/_stripes.scss */
#about .paragraph-content .paragraph-content-inner .about-skills .skill-bar .progress-bar-value {
  display: block;
  height: 100%;
  overflow: visible !important;
  left: 0;
  min-width: 14px;
  position: absolute;
  z-index: 1;
  right: 0;
  background: #e52225;
  bottom: 0;
}
/* line 159, ../sass/components/_stripes.scss */
#about .paragraph-content .paragraph-content-inner .about-skills .skill-bar .progress-bar-value:after {
  content: '';
  position: absolute;
  left: 100%;
  margin-left: -7px;
  background: #e52225;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  display: block;
  top: -5px;
}
/* line 171, ../sass/components/_stripes.scss */
#about .paragraph-content .paragraph-content-inner .about-skills .skill-bar .progress-bar-value .progress-value {
  position: absolute;
  left: 100%;
  margin-left: -20px;
  top: -41px;
  font-size: 14px;
  background: #e52225;
  color: #fff;
  width: 40px;
  text-align: center;
  line-height: 26px;
}
/* line 182, ../sass/components/_stripes.scss */
#about .paragraph-content .paragraph-content-inner .about-skills .skill-bar .progress-bar-value .progress-value:after {
  content: '';
  border-top: 5px solid #e52225;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 201, ../sass/components/_stripes.scss */
#about:after {
  content: '';
  position: absolute;
  z-index: -1;
  background: #1c1c1c;
  opacity: 0.75;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
}

/*Portfolio*/
/* line 215, ../sass/components/_stripes.scss */
#portfolio {
  position: relative;
}
/* line 217, ../sass/components/_stripes.scss */
#portfolio .portfolio-title {
  position: absolute;
  right: 50%;
  top: 0;
  z-index: 9;
  background: #fff;
  color: #222;
  padding: 15px 30px;
  font-size: 3.5em;
}
/* line 227, ../sass/components/_stripes.scss */
#portfolio .portfolio-box {
  display: block;
  position: relative;
  overflow: hidden;
}
/* line 231, ../sass/components/_stripes.scss */
#portfolio .portfolio-box img {
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 236, ../sass/components/_stripes.scss */
#portfolio .portfolio-box .portfolio-content {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  top: 50%;
  color: #fff;
  text-align: center;
  padding: 20px;
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
  opacity: 0;
}
/* line 248, ../sass/components/_stripes.scss */
#portfolio .portfolio-box .portfolio-content h4 {
  color: #fff;
  margin: 0 0 10px;
  font-size: 20px;
  margin-bottom: 15px;
}
/* line 255, ../sass/components/_stripes.scss */
#portfolio .portfolio-box .portfolio-content .btn-row .project-details-trigger {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  display: inline-block;
  margin: 2px;
  color: #0f0f0f;
  transition: all 0.4s ease;
}
/* line 267, ../sass/components/_stripes.scss */
#portfolio .portfolio-box .portfolio-content .btn-row .project-details-trigger:hover {
  color: #e52225;
}
/* line 274, ../sass/components/_stripes.scss */
#portfolio .portfolio-box:hover img {
  -webkit-transform: scale(1.15) rotate(2deg);
  transform: scale(1.15) rotate(2deg);
}
/* line 278, ../sass/components/_stripes.scss */
#portfolio .portfolio-box:hover .portfolio-content {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
}
/* line 283, ../sass/components/_stripes.scss */
#portfolio .portfolio-box:hover:after {
  opacity: 0.85;
}
/* line 287, ../sass/components/_stripes.scss */
#portfolio .portfolio-box:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  background: #0f0f0f;
  opacity: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

/*Services*/
/* line 303, ../sass/components/_stripes.scss */
#services {
  position: relative;
  overflow: auto;
}
/* line 306, ../sass/components/_stripes.scss */
#services .paragraph-content {
  padding: 80px 0;
}
/* line 308, ../sass/components/_stripes.scss */
#services .paragraph-content .field--name-field-skuhan-p-sc-title {
  font-size: 3em;
  position: relative;
  padding-bottom: 15px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 60px;
  line-height: 1.3;
  font-weight: 700;
  color: #0f0f0f;
}
/* line 318, ../sass/components/_stripes.scss */
#services .paragraph-content .field--name-field-skuhan-p-sc-title:before {
  content: '';
  width: 158px;
  margin: 0 auto;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  background: #d0d0d0;
}
/* line 329, ../sass/components/_stripes.scss */
#services .paragraph-content .field--name-field-skuhan-p-sc-title:after {
  content: '';
  width: 50px;
  margin: 0 auto;
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e52225;
}
/* line 342, ../sass/components/_stripes.scss */
#services .paragraph-content .field--name-field-skuhan-p-sc-services {
  counter-reset: service-counter;
}
/* line 344, ../sass/components/_stripes.scss */
#services .paragraph-content .field--name-field-skuhan-p-sc-services .services-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  max-width: 1450px;
  margin: 0 auto;
}
/* line 353, ../sass/components/_stripes.scss */
#services .paragraph-content .field--name-field-skuhan-p-sc-services .services-inner .service-box {
  padding: 40px 20px 20px;
  position: relative;
  background: #fff;
  text-align: left;
  border-bottom: 2px solid #d3d3d3;
  height: 100%;
}
/* line 361, ../sass/components/_stripes.scss */
#services .paragraph-content .field--name-field-skuhan-p-sc-services .services-inner .service-box .service-icon {
  display: block;
  font-size: 40px;
  margin: 0 0 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 368, ../sass/components/_stripes.scss */
#services .paragraph-content .field--name-field-skuhan-p-sc-services .services-inner .service-box h3 {
  margin-bottom: 10px;
  font-size: 24px;
}
/* line 371, ../sass/components/_stripes.scss */
#services .paragraph-content .field--name-field-skuhan-p-sc-services .services-inner .service-box h3:after {
  content: none;
}
/* line 375, ../sass/components/_stripes.scss */
#services .paragraph-content .field--name-field-skuhan-p-sc-services .services-inner .service-box .service-desc {
  margin: 0 0 20px;
}
/* line 378, ../sass/components/_stripes.scss */
#services .paragraph-content .field--name-field-skuhan-p-sc-services .services-inner .service-box:before {
  counter-increment: service-counter;
  content: "0" counter(service-counter) ". ";
  font-size: 60px;
  font-weight: 700;
  opacity: 0.1;
  position: absolute;
  line-height: 1;
  right: 0;
  top: 40px;
}
/* line 390, ../sass/components/_stripes.scss */
#services .paragraph-content .field--name-field-skuhan-p-sc-services .services-inner .service-box:hover .service-icon {
  color: #e52225;
}

/*Numbers*/
/* line 401, ../sass/components/_stripes.scss */
#numbers {
  background-size: cover;
  background-position-y: -380px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}
/* line 408, ../sass/components/_stripes.scss */
#numbers .paragraph-content {
  padding: 80px 0;
  overflow: auto;
  max-width: 1210px;
  margin: 0 auto;
}
/* line 413, ../sass/components/_stripes.scss */
#numbers .paragraph-content .paragraph {
  color: #fff;
  text-align: center;
}
/* line 416, ../sass/components/_stripes.scss */
#numbers .paragraph-content .paragraph .count-number {
  display: block;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 5px;
}
/* line 422, ../sass/components/_stripes.scss */
#numbers .paragraph-content .paragraph .field--name-field-s-p-numbers-label {
  font-size: 15px;
  line-height: 1.4;
  text-transform: uppercase;
}

/*Experience*/
/* line 433, ../sass/components/_stripes.scss */
#experience .paragraph-content {
  padding: 80px 0;
  overflow: auto;
  max-width: 1210px;
  margin: 0 auto;
}
/* line 438, ../sass/components/_stripes.scss */
#experience .paragraph-content .field--name-field-skuhan-p-ec-title {
  font-size: 3em;
  position: relative;
  padding-bottom: 15px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 60px;
  line-height: 1.3;
  font-weight: 700;
  color: #0f0f0f;
}
/* line 448, ../sass/components/_stripes.scss */
#experience .paragraph-content .field--name-field-skuhan-p-ec-title:before {
  content: '';
  width: 158px;
  margin: 0 auto;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  background: #d0d0d0;
}
/* line 459, ../sass/components/_stripes.scss */
#experience .paragraph-content .field--name-field-skuhan-p-ec-title:after {
  content: '';
  width: 50px;
  margin: 0 auto;
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e52225;
}
/* line 471, ../sass/components/_stripes.scss */
#experience .paragraph-content .timeline-section {
  position: relative;
  z-index: 1;
}
/* line 474, ../sass/components/_stripes.scss */
#experience .paragraph-content .timeline-section:before {
  content: '';
  position: absolute;
  background: #d4d4d4;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 0;
  left: 50%;
  margin-left: -6px;
}
/* line 485, ../sass/components/_stripes.scss */
#experience .paragraph-content .timeline-section:after {
  content: '';
  position: absolute;
  background: #d4d4d4;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  margin-left: -6px;
}
/* line 496, ../sass/components/_stripes.scss */
#experience .paragraph-content .timeline-section .timeline-row {
  position: relative;
  z-index: 1;
  overflow: auto;
  padding: 10px 0;
}
/* line 501, ../sass/components/_stripes.scss */
#experience .paragraph-content .timeline-section .timeline-row:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background: #d4d4d4;
  margin: 0 auto;
  top: 0;
  z-index: -1;
}
/* line 514, ../sass/components/_stripes.scss */
#experience .paragraph-content .timeline-section .timeline-row:nth-child(2n) .timeline-col {
  float: left;
}
/* line 516, ../sass/components/_stripes.scss */
#experience .paragraph-content .timeline-section .timeline-row:nth-child(2n) .timeline-col .field--name-field-s-p-experience-date {
  left: 100%;
}
/* line 518, ../sass/components/_stripes.scss */
#experience .paragraph-content .timeline-section .timeline-row:nth-child(2n) .timeline-col .field--name-field-s-p-experience-date .dates-container {
  background: #1c1c1c;
}
/* line 524, ../sass/components/_stripes.scss */
#experience .paragraph-content .timeline-section .timeline-row .timeline-col {
  float: right;
  width: 50%;
  padding: 0 60px;
  font-size: 16px;
  position: relative;
}
/* line 530, ../sass/components/_stripes.scss */
#experience .paragraph-content .timeline-section .timeline-row .timeline-col .field--name-field-s-p-experience-date {
  position: absolute;
  left: 0;
  background: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: -38px;
  width: 70px;
  height: 70px;
  line-height: 100%;
  text-align: center;
}
/* line 546, ../sass/components/_stripes.scss */
#experience .paragraph-content .timeline-section .timeline-row .timeline-col .field--name-field-s-p-experience-date .dates-container {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: block;
  background: #e52225;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding-top: 10px;
}
/* line 557, ../sass/components/_stripes.scss */
#experience .paragraph-content .timeline-section .timeline-row .timeline-col .field--name-field-s-p-experience-date .dates-container time {
  font-size: 1.1rem;
  display: block;
}
/* line 563, ../sass/components/_stripes.scss */
#experience .paragraph-content .timeline-section .timeline-row .timeline-col .timeline-box {
  border: 1px dashed #d4d4d4;
  border-radius: 8px;
  padding: 25px 30px;
  background: #f5f5f5;
}
/* line 568, ../sass/components/_stripes.scss */
#experience .paragraph-content .timeline-section .timeline-row .timeline-col .timeline-box .field--name-field-s-p-experience-title {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  color: #0f0f0f;
  line-height: 1.3;
}
/* line 575, ../sass/components/_stripes.scss */
#experience .paragraph-content .timeline-section .timeline-row .timeline-col .timeline-box .field--name-field-s-p-experience-company {
  display: block;
  color: #8a8a8a;
  font-weight: 600;
  font-size: 17px;
  margin: 2px 0 10px;
}

/*Background Image Stripe*/
/* line 591, ../sass/components/_stripes.scss */
.paragraph.paragraph--type--skuhan-p-bckg-img {
  background-size: cover;
  background-position-y: -380px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}
/* line 597, ../sass/components/_stripes.scss */
.paragraph.paragraph--type--skuhan-p-bckg-img .paragraph-content {
  padding: 80px 0;
  overflow: auto;
  max-width: 1480px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
/* line 604, ../sass/components/_stripes.scss */
.paragraph.paragraph--type--skuhan-p-bckg-img .paragraph-content .field--name-field-s-p-bckg-img-title {
  color: #fff;
  font-size: 50px;
  text-transform: none;
  font-weight: 600;
  line-height: 1.3;
  margin: 0 0 15px;
}
/* line 612, ../sass/components/_stripes.scss */
.paragraph.paragraph--type--skuhan-p-bckg-img .paragraph-content .field--name-field-s-p-bckg-img-desc {
  margin: 0 0 20px;
}

/*Blogs*/
/* line 620, ../sass/components/_stripes.scss */
#blogs .paragraph-content {
  padding: 80px 15px;
  overflow: hidden;
  max-width: 1480px;
  margin: 0 auto;
}
/* line 625, ../sass/components/_stripes.scss */
#blogs .paragraph-content .view-header {
  font-size: 3em;
  position: relative;
  padding-bottom: 15px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 60px;
  line-height: 1.3;
  font-weight: 700;
  color: #0f0f0f;
}
/* line 635, ../sass/components/_stripes.scss */
#blogs .paragraph-content .view-header:before {
  content: '';
  width: 158px;
  margin: 0 auto;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  background: #d0d0d0;
}
/* line 646, ../sass/components/_stripes.scss */
#blogs .paragraph-content .view-header:after {
  content: '';
  width: 50px;
  margin: 0 auto;
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e52225;
}
/* line 660, ../sass/components/_stripes.scss */
#blogs .paragraph-content .view-content .blog-col .views-field-field-s-b-image {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
/* line 664, ../sass/components/_stripes.scss */
#blogs .paragraph-content .view-content .blog-col .views-field-field-s-b-image img {
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 669, ../sass/components/_stripes.scss */
#blogs .paragraph-content .view-content .blog-col .views-field-field-s-b-image .posted-date {
  background: #e52225;
  border-radius: 5px;
  color: #fff;
  float: left;
  text-align: center;
  font-size: 28px;
  line-height: 1;
  padding: 8px 12px;
  margin-right: 30px;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
/* line 682, ../sass/components/_stripes.scss */
#blogs .paragraph-content .view-content .blog-col .views-field-field-s-b-image .posted-date .small-date {
  font-size: 12px;
  display: block;
  font-weight: 500;
}
/* line 686, ../sass/components/_stripes.scss */
#blogs .paragraph-content .view-content .blog-col .views-field-field-s-b-image .posted-date .small-date:first-child {
  margin-bottom: 2px;
}
/* line 693, ../sass/components/_stripes.scss */
#blogs .paragraph-content .view-content .blog-col .blog-details .views-field-title {
  margin-bottom: 10px;
}
/* line 695, ../sass/components/_stripes.scss */
#blogs .paragraph-content .view-content .blog-col .blog-details .views-field-title a {
  color: #0f0f0f;
  font-size: 1.3em;
  line-height: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 701, ../sass/components/_stripes.scss */
#blogs .paragraph-content .view-content .blog-col .blog-details .views-field-title a:hover {
  color: #e52225;
  text-decoration: none;
}
/* line 707, ../sass/components/_stripes.scss */
#blogs .paragraph-content .view-content .blog-col .blog-details .views-field-body {
  margin: 0 0 20px;
}
/* line 710, ../sass/components/_stripes.scss */
#blogs .paragraph-content .view-content .blog-col .blog-details .views-field-field-s-b-tags {
  margin: 0 0 20px;
}
/* line 712, ../sass/components/_stripes.scss */
#blogs .paragraph-content .view-content .blog-col .blog-details .views-field-field-s-b-tags a {
  display: inline-block;
  margin-right: 5px;
  color: #707070;
  border: 1px solid;
  border-radius: 5px;
  font-size: 12px;
  padding: 1px 9px 0;
  line-height: 26px;
}
/* line 721, ../sass/components/_stripes.scss */
#blogs .paragraph-content .view-content .blog-col .blog-details .views-field-field-s-b-tags a:hover {
  text-decoration: none;
  color: #0f0f0f;
}
/* line 728, ../sass/components/_stripes.scss */
#blogs .paragraph-content .view-content .blog-col .blog-details .views-field-view-node a {
  background: none;
  border: solid 2px #e52225;
  color: #e52225;
  line-height: 37px;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 0.02em;
  position: relative;
  z-index: 1;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
}
/* line 746, ../sass/components/_stripes.scss */
#blogs .paragraph-content .view-content .blog-col .blog-details .views-field-view-node a:after {
  background: #e52225;
  content: '';
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  top: 0;
  height: 101%;
  webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 758, ../sass/components/_stripes.scss */
#blogs .paragraph-content .view-content .blog-col .blog-details .views-field-view-node a:hover {
  color: #fff;
  background: #e52225;
}
/* line 767, ../sass/components/_stripes.scss */
#blogs .paragraph-content .view-content .blog-col:hover .views-field-field-s-b-image img {
  -webkit-transform: scale(1.1) rotate(2deg);
  transform: scale(1.1) rotate(2deg);
}

/*Get in touch - Contact*/
/* line 780, ../sass/components/_stripes.scss */
#contact {
  background-image: url(../images/bg-get-in-touch.jpg);
  background-size: cover;
  padding: 80px 0;
  position: relative;
  z-index: 1;
  overflow: auto;
  color: #fff;
}
/* line 788, ../sass/components/_stripes.scss */
#contact h2.block-title {
  position: relative;
  padding-bottom: 15px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 60px;
  color: #fff;
  line-height: 1.3;
  margin: 0 0 15px;
  font-weight: 700;
  margin-bottom: 60px;
}
/* line 799, ../sass/components/_stripes.scss */
#contact h2.block-title:before {
  content: '';
  width: 158px;
  margin: 0 auto;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  background: #d0d0d0;
}
/* line 810, ../sass/components/_stripes.scss */
#contact h2.block-title:after {
  content: '';
  width: 50px;
  margin: 0 auto;
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e52225;
}
/* line 822, ../sass/components/_stripes.scss */
#contact .field--name-field-s-blocks-ref-webform {
  max-width: 1480px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
/* line 828, ../sass/components/_stripes.scss */
#contact .field--name-field-s-blocks-ref-webform form .form-item {
  margin-bottom: 40px;
}
/* line 830, ../sass/components/_stripes.scss */
#contact .field--name-field-s-blocks-ref-webform form .form-item input.form-text,
#contact .field--name-field-s-blocks-ref-webform form .form-item input.form-email {
  color: #fff !important;
  background: none;
  padding: 0 15px;
  height: 54px;
  line-height: 1.55;
  border: 0;
  border-bottom: 1px solid #d4d4d4;
  color: #707070;
  width: 100%;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  -webkit-transition: border-color 200ms ease-in;
  transition: border-color 200ms ease-in;
  border-radius: 0;
  text-overflow: ellipsis;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
}
/* line 850, ../sass/components/_stripes.scss */
#contact .field--name-field-s-blocks-ref-webform form .form-item input.form-text::placeholder,
#contact .field--name-field-s-blocks-ref-webform form .form-item input.form-email::placeholder {
  color: #fff !important;
}
/* line 854, ../sass/components/_stripes.scss */
#contact .field--name-field-s-blocks-ref-webform form .form-item textarea.form-textarea {
  color: #fff !important;
  width: 100%;
  overflow: auto;
  resize: vertical;
  padding: 5px 15px;
  padding-top: 10px !important;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  line-height: 1.55;
  border: 0;
  border-bottom: 1px solid #d4d4d4;
  background: none;
  -webkit-transition: border-color 200ms ease-in;
  transition: border-color 200ms ease-in;
  border-radius: 0;
  text-overflow: ellipsis;
  box-shadow: none;
  font-size: 16px;
}
/* line 872, ../sass/components/_stripes.scss */
#contact .field--name-field-s-blocks-ref-webform form .form-item textarea.form-textarea::placeholder {
  color: #fff !important;
}
/* line 877, ../sass/components/_stripes.scss */
#contact .field--name-field-s-blocks-ref-webform form #edit-actions {
  margin-top: 30px;
}
/* line 879, ../sass/components/_stripes.scss */
#contact .field--name-field-s-blocks-ref-webform form #edit-actions button {
  border-radius: 5px;
  background: #e52225;
  line-height: 50px;
  text-align: center;
  padding: 0 25px;
  text-transform: uppercase;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 0.02em;
  position: relative;
  z-index: 1;
  font-size: 16px;
  color: #fff;
  border: 0;
}
/* line 898, ../sass/components/_stripes.scss */
#contact:after {
  content: '';
  position: absolute;
  z-index: -1;
  background: #1c1c1c;
  opacity: 0.75;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  opacity: 0.95;
  width: 100%;
}
#contact .panel-default > .panel-heading {
  background-color: transparent;
  border: 0;
}

#contact .captcha.panel {
  background-color: transparent;
  border: 0;
}

/* line 1, ../sass/components/_headings.scss */
h1 {
  margin: 0 0 15px;
  font-weight: 700;
  line-height: 1.3;
  font-size: 3.9em;
  font-family: "Poppins", Arial, Geneva, sans-serif;
  color: #0f0f0f;
}
/* line 8, ../sass/components/_headings.scss */
h1 .big-title-2 {
  color: #e52225;
}

/* line 13, ../sass/components/_headings.scss */
h2 {
  line-height: 1.3;
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 2.527em;
  font-family: "Poppins", Arial, Geneva, sans-serif;
}
/* line 19, ../sass/components/_headings.scss */
h2.big-title {
  font-size: 3em;
}

/* line 24, ../sass/components/_headings.scss */
h3 {
  line-height: 1.3;
  margin: 0 0 15px;
  font-weight: 700;
  color: #0f0f0f;
  font-size: 30px;
  font-weight: 600;
}
/* line 31, ../sass/components/_headings.scss */
h3:after {
  content: '';
  width: 50px;
  height: 2px;
  display: block;
  background: #e52225;
  margin: 13px 0 0;
}

/* VENDORS */
/* styles reset (normalize) and third party scss entry point */
/* PAGES */
/* components from pages */
/*Portfolio Nodes*/
/* line 3, ../sass/pages/_portfolio.scss */
article.skuhan-portfolio .content.node-content-inner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 80px 0;
}
/* line 7, ../sass/pages/_portfolio.scss */
article.skuhan-portfolio .content.node-content-inner .field--name-body {
  margin-bottom: 30px;
}
/* line 10, ../sass/pages/_portfolio.scss */
article.skuhan-portfolio .content.node-content-inner .project-details {
  padding-top: 20px;
}
/* line 12, ../sass/pages/_portfolio.scss */
article.skuhan-portfolio .content.node-content-inner .project-details .field {
  border-bottom: 1px solid #ddd;
  height: 100%;
  padding: 20px 0;
}
/* line 16, ../sass/pages/_portfolio.scss */
article.skuhan-portfolio .content.node-content-inner .project-details .field .field--label {
  color: #0f0f0f;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 8px;
  text-transform: uppercase;
  display: block;
}
/* line 25, ../sass/pages/_portfolio.scss */
article.skuhan-portfolio .content.node-content-inner .project-details .field.field--type-entity-reference .field--item {
  display: inline-block;
  padding: 5px 0;
}
/* line 28, ../sass/pages/_portfolio.scss */
article.skuhan-portfolio .content.node-content-inner .project-details .field.field--type-entity-reference .field--item a {
  display: inline-block;
  margin-right: 5px;
  color: #707070;
  border: 1px solid;
  border-radius: 5px;
  font-size: 12px;
  padding: 1px 9px 0;
  line-height: 26px;
  text-decoration: none;
}
/* line 38, ../sass/pages/_portfolio.scss */
article.skuhan-portfolio .content.node-content-inner .project-details .field.field--type-entity-reference .field--item a:hover {
  color: #0f0f0f;
}
/* line 45, ../sass/pages/_portfolio.scss */
article.skuhan-portfolio .content.node-content-inner .project-details .field.field--name-field-skuhan-portfolio-url a {
  color: #e52225;
  text-decoration: none;
}
/* line 48, ../sass/pages/_portfolio.scss */
article.skuhan-portfolio .content.node-content-inner .project-details .field.field--name-field-skuhan-portfolio-url a:hover {
  text-decoration: underline;
}

/*Blogs Node Page*/
/* line 3, ../sass/pages/_blogs.scss */
article.skuhan-blogs .node-container {
  max-width: 950px;
  margin: 0 auto;
  padding: 80px 0;
}
/* line 7, ../sass/pages/_blogs.scss */
article.skuhan-blogs .node-container .blog-img {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
/* line 11, ../sass/pages/_blogs.scss */
article.skuhan-blogs .node-container .blog-img .posted-date {
  background: #e52225;
  border-radius: 5px;
  color: #fff;
  float: left;
  text-align: center;
  font-size: 28px;
  line-height: 1;
  padding: 8px 12px;
  margin-right: 30px;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
/* line 24, ../sass/pages/_blogs.scss */
article.skuhan-blogs .node-container .blog-img .posted-date .small-date {
  font-size: 12px;
  display: block;
  font-weight: 500;
}
/* line 28, ../sass/pages/_blogs.scss */
article.skuhan-blogs .node-container .blog-img .posted-date .small-date:first-child {
  margin-bottom: 2px;
}
/* line 34, ../sass/pages/_blogs.scss */
article.skuhan-blogs .node-container .blog-title {
  font-size: 30px;
  margin-bottom: 25px;
  line-height: 1.3;
  margin: 0 0 15px;
  font-weight: 700;
  color: #0f0f0f;
}
/* line 42, ../sass/pages/_blogs.scss */
article.skuhan-blogs .node-container .field--name-field-s-b-tags {
  padding: 30px 0 50px;
  margin: 0 0 20px;
}
/* line 45, ../sass/pages/_blogs.scss */
article.skuhan-blogs .node-container .field--name-field-s-b-tags .field--item {
  display: inline-block;
}
/* line 47, ../sass/pages/_blogs.scss */
article.skuhan-blogs .node-container .field--name-field-s-b-tags .field--item a {
  display: inline-block;
  margin-right: 5px;
  color: #707070;
  border: 1px solid;
  border-radius: 5px;
  font-size: 12px;
  padding: 1px 9px 0;
  line-height: 26px;
}
/* line 56, ../sass/pages/_blogs.scss */
article.skuhan-blogs .node-container .field--name-field-s-b-tags .field--item a:hover {
  text-decoration: none;
  color: #0f0f0f;
}

/* LAYOUT */
/* Main parts (footer, header, ...) */
/* PAGES */
/* Specific pages styles  (homepage, level1, ...) */
