.btn-skuhan-primary {
  border-radius: 5px;
  background: #e52225;
  line-height: 50px;
  text-align: center;
  padding: 0 25px;
  text-transform: uppercase;
  // font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 0.02em;
  position: relative;
  z-index: 1;
  font-size: 16px;
  color: #fff;
  border: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  &:hover {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    &:after {
      left: 0;
      width: 100%;	
    }
  }
  &:focus {
    outline: none;
    box-shadow: none;	
    color: #fff;
  }
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    top: 0;
    height: 101%;
    background: rgba(0,0,0,0.2);	
  }
}