/*Typography*/
$font-stack: 'Poppins', Arial,Geneva,sans-serif;
$alter-font-stack: 'Staatliches', Arial,Geneva,sans-serif; 
$font-size: 16px;

/*Colors*/
$c-font-default: #707070;
$c-font-red: #e52225;
$c-font-black: #0f0f0f;

/* Heading sizes */
$heading-1-size: 3.9em;
$heading-2-size: 2.527em;
$heading-3-size: 1.999em;
$heading-4-size: 1.414em;
